:root {
  --colour-light: #f5f5f5;
  --colour-dark: #090909;
  --colour-b-light: #ad85ff;
  --colour-b-mid: #8547ff;
  --colour-b-dark: #5200f5;
  --colour-error-light: #ffb6b6;
  --colour-error-dark: #aa0101;
  --colour-success-light: #94ff94;
  --colour-success-dark: #066006;
  --font-body: Quicksand, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-heading: var(--font-body);
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
}

:root {
  --colour-front: var(--colour-dark);
  --colour-back: var(--colour-light);
  --colour-link: var(--colour-b-dark);
  --colour-hover: var(--colour-b-mid);
  --colour-ui: var(--colour-b-dark);
  --colour-error: var(--colour-error-dark);
  --colour--success: var(--colour-success-dark);
  --gradient: linear-gradient(to right, var(--colour-ui), var(--colour-b-mid));
  --gradient-s: linear-gradient(to right, var(--colour-front), var(--colour-ui));
}

::backdrop {
  --colour-backdrop: #f5f5f5;
  opacity: 0.75;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colour-front: var(--colour-light);
    --colour-back: var(--colour-dark);
    --colour-link: var(--colour-b-light);
    --colour-ui: var(--colour-b-light);
    --colour-error: var(--colour-error-light);
    --colour-success: var(--colour-success-light);
  }

  ::backdrop {
    --colour-backdrop: #090909;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 16px;
}

body {
  color: var(--colour-front);
  background: var(--colour-back);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: var(--font-body);
  font-size: 1.25rem;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
