@import './base.css';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700;
  margin: 0 0 0.5em;
}

a:link,
a:visited {
  color: var(--colour-link);
}

@media (hover: hover) {
  a:hover {
    color: var(--colour-hover);
  }
}

@media (min-width: 1024px) {
}
